
        .parent {
            display: flex;
        }

        .child {

        }

        .left {
            width: 20%;
            border-right: 2px solid black;
        }

        .right {
            width: 80%;
        }
        
        header {
            
            background-color: gold;
            border-collapse:collapse;
        }

        header div {
            
            height: 100px;
            
        }

        .header_left {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo {
            height: 50px;
        }

        .logo img {
            width: 50px; height: 50px;
        }

        .header_right {
            display: flex;
            justify-content: end;
            align-items: center;
        }

        .header_nav {
            width: 80%;
            height: 50px;
            background-color: green;
            text-align: right;
            padding-right: 5%;
            
        }

        .header_nav li {
            display: inline-block;
            width: 15%;
            height: 50px;            
            line-height: 50px;
            text-align: center;
            background-color: white;
        }

        section {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            background-color: silver;            
        }

        section div {
            
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .section_nav {
            width: 80%;
            height: 80%;      
            background-color: green;
            text-align: center;
            
        }

        .section_nav li {
            display: inline-block;
            
            width: 80%;
            height: 10%;
            background-color: white;
            margin-top: 10px;
            vertical-align: middle;
        }

        .content {
            background-color: white;
            width: 80%;
            height: 80%;
        }

        footer {
            
            background-color: orange;
        }

        footer div {
            
            height: 100px;
        }
    