

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/layout.css">
    
</head>
<body>
    <header class="parent">
        <div class="header_left left child">
            <div class="logo">
                <img src="/resources/images/sinhan.png">
            </div>
        </div>
        <div class="header_right right child">
            <ul class="header_nav">
                <li></li>
                <li></li>                
            </ul>
        </div>
    </header>

    <section class="parent">
        <div class="section_left left child">
            <ul class="section_nav">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="section_right right child">
            <div class="content">

            </div>
        </div>
    </section>

    <footer class="parent">
        <div class="footer_left left child"></div>
        <div class="footer_right right child"></div>
    </footer>
    
    
</body>
</html>