<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    
    <!-- XML : '배포 서술자'라고 부른다. -->
    <!-- XML상에서는 자유롭게 태그 이름 짓기가 가능하다 -->
        
  </welcome-file-list>
  
  <!-- servlet 객체를 만들어달라는 뜻, 패키지 경로도 전부 적어야 한다. -->
  <servlet>
  	<servlet-name>departmentController</servlet-name> <!-- 객체 이름 짓기 자유롭게 가능 -->
  	<servlet-class>com.winter.app.departments.DepartmentController</servlet-class>  	
  </servlet>
  <!-- 톰캣이 실행되면서 HttpServlet hs = new 객체 생성자 실행 -->
  <!-- hs.doGet(), hs.doPost() 사용 가능 -->
  
  <!-- 이름과 url을 연결 해준다는 뜻 -->
  <servlet-mapping>
  	<servlet-name>departmentController</servlet-name>
  	<url-pattern>/departments/list.do</url-pattern>
  	<url-pattern>/departments/detail.do</url-pattern>
  	<url-pattern>/departments/*</url-pattern>
  	<!-- port 뒤 부터 적는다. .do 확장자는 파일이라는 표시 -->
  </servlet-mapping>
  
  
  <!-- locationController ******************************************* -->
  <servlet>
  	<servlet-name>locationController</servlet-name>
  	<servlet-class>com.winter.app.locations.LocationController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>locationController</servlet-name>
  	<url-pattern>/locations/list.do</url-pattern>
  	<url-pattern>/locations/detail.do</url-pattern>
  	<url-pattern>/locations/*</url-pattern>
  	
  </servlet-mapping>
  
</web-app>


